:local(.ColorPanel) {
    width: 250px;
    height: 450px;
    background: rgba(0, 0, 0, 0.5);
    margin: 12% auto;
    padding: 2.5%;
    text-align: center;
}

:local(.box) {
    width: 25px;
    height: 25px;
}

:local(.ColorPanel div table) {
    padding-left: 80px;
}

:local(.door) {
    width: 25px;
    height: 60px;
    margin: 0 auto;
}
:local(.roof) {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 50px 25px;
    border-color: transparent transparent #000000 transparent;
}